<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
<!--     <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a> -->
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link" id="blog"><a href="javascript:void(0)">Blog</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Work</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Play</a>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        </li>
        <ul class="submenu">
          <li><a href="javascript:void(0)">Submenu Item</a></li>
          <li><a href="javascript:void(0)">Another Item</a></li>
          <li class="more"><a href="javascript:void(0)">Item with submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
              <li><a href="javascript:void(0)">Another Item</a></li>
            </ul>
          </li>
          <li class="more"><a href="javascript:void(0)">Another submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu</a></li>
              <li><a href="javascript:void(0)">An Item</a></li>
            </ul>
          </li>
        </ul>
      </ul>
    </nav>
  </div>
</header>