<%= render "header" %>

<div class="background_elements">
  <div class="background">
    <!-- <div class="animate-target"></div> -->
    <div class="links">
      <ul class="left-links" role="contentinfo">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
      </ul>
      <ul class="right-links" role="contentinfo">
        <li><%= image_tag "github1.png", class: "octocat" %></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
    <div contenteditable class="kalyco"><span style="color: white">ka</span>yla <span style="color: white">ly</span>nn <span style="color: white">co</span>malli</div>
    <%#= video_tag "Compilation.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
    </div>
  </div>
</div>

<!--   <div class="triangle-grid">
    <div class="triangle-right"></div>
    <div class="triangle-left"></div>
  </div>
</div> -->
<!-- <div class="pacman"></div> -->
